.App {
  text-align: center;
  color: #e7f641;
}
.navbar {
  background-color: #3944d7;
  padding-top: 15px;
}
.navbar a {
  color: white;
}
.navbar-item {
  color: white;
}
p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
}
.poem-container {
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
}
.route-wrapper {
  position: relative;
}

.route-wrapper > .inner {
  position: absolute;
}