.App {
  text-align: center;
  color: #e7f641;
}
.navbar {
  background-color: #3944d7;
  padding-top: 15px;
}
.navbar a {
  color: white;
}
p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
}
.poem-container {
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.route-wrapper {
  position: relative;
}

.route-wrapper > .poem-container {
  position: absolute;
}